<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<!-- Rule: Serve HTML files without extension -->
				<rule name="Clean URLs" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions>
						<!-- Ignore requests for actual files -->
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<!-- Ignore requests for directories -->
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="{R:1}.html" />
				</rule>
			</rules>
		</rewrite>
		<staticContent>
			<mimeMap fileExtension=".html" mimeType="text/html" />
		</staticContent>
	</system.webServer>
</configuration>